.reserva {
    background-image: url(../images/reserva.jpeg);
    background-attachment: fixed;
    background-size: cover;
    max-width: 100vw; //espacio ancho de navegacion vw
    min-height: 100vh; //espacio alto de navegacion
  }