.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/portada.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: color;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(143, 14, 0);
  max-width: 100vw; /* espacio ancho de navegacion vw*/
  min-height: 100vh; /*espacio alto de navegacion*/
}
